.carousel{
  width: 100%;
  overflow: hidden;
  padding-bottom: 100px;
  .slider{
    width: 100% !important;
    height: 400px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    .width30{
      width: 100%!important;
      height: 300px;
      object-fit: cover;
      object-position: center;
    }
  }
}
