.card {
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;

  .w50 {
    width: 50%;
    margin-bottom: 50px;

    .title {
      color: var(--black);
      font-size: 48px;
      font-family: var(--neue__Demi-bold);
    }

    .text {
      color: var(--lightGray1);
      font-size: 14px;
      font-family: var(--neue__medium);
      width: 50%;
      margin-left: 20%;
      .one{
        display: none;
      }
      .two{
        display: block;
      }
    }
  }

  .wrapper {
    width: 100%;
    display: flex;
    &:first-child{
      margin-top: 50px;
    }
    .col {
      width: 50%;
      border: 1px solid var(--gray3);
      display: flex;
      padding: 15px;
      align-items: center;
      .img-wr{
        .img{
          width: 100%;
        }
      }
      .inner {
        margin-left: 10px;

        .title {
          color: var(--black);
          font-size: 24px;
          font-family: var(--neue__Demi-bold);
        }

        .text {
          color: var(--lightGray1);
          font-size: 14px;
          font-family: var(--neue__medium);
        }

        .link {
          color: var(--lightGray1);
          font-size: 14px;
          font-family: var(--neue__medium);
          margin-top: 15px;
          display: flex;
          align-items: center;

          .icon {
            margin-left: 5px;
            transition: margin-left 0.4s;
          }
        }
      }

      &:hover {
        border: 1px solid var(--lightGray2);
        cursor: pointer;
      }

      &:hover .inner .link {
        color: var(--black);
      }
      &:hover .inner .link .icon{
        margin-left: 10px;
      }
    }
  }
}
@media (max-width: 992px) {
  .card{
    .w50 {
      width: 100%;
      margin-bottom: 50px;
      .title {
        color: var(--black);
        font-size: 48px;
        font-family: var(--neue__Demi-bold);
        text-align: center;
      }

      .text {
        color: var(--lightGray1);
        font-size: 14px;
        font-family: var(--neue__medium);
        text-align: center;
        width: 100%;
        margin-left: 0%;
        .one{
          display: block;
        }
        .two{
          display: none;
        }
      }
    }
    .wrapper{
      flex-direction: column;
      width: 100%;
      .col{
        width: 100% !important;
      }
    }
  }
}
@media (max-width: 700px) {
  .card{
    padding-left: 5% !important;
    padding-right: 5% !important;
  }
}
@media (max-width: 560px) {
  .card{
    .w50 {
      margin-bottom: 50px;

      .title {
        color: var(--black);
        font-size: 40px;
        font-family: var(--neue__Demi-bold);
      }

    }
  }
}
@media (max-width: 470px) {
  .card{
    .w50 {
      margin-bottom: 50px;

      .title {
        color: var(--black);
        font-size: 36px;
        font-family: var(--neue__Demi-bold);
      }

    }
  }
}
@media (max-width: 420px) {
  .card{
    .w50 {
      margin-bottom: 50px;

      .title {
        color: var(--black);
        font-size: 32px;
        font-family: var(--neue__Demi-bold);
      }

    }
  }
}