:root {
  --white: #fff;
  --black: #000;
  --green: #57c80c;
  --green03: rgba(87, 200, 12, 0.3);
  --green05: rgba(87, 200, 12, 0.5);
  --lightGray1: #7D7D7D;
  --lightGray2: #7D7D7F;
  --lightGray: #E3E3E3;
  --benefitB:#E2E2E2;
  --redLive: #DD0D0D;
  --redLiveRbg08:rgba(221,13,13,0.8);
  --reddish:#E54949;
   --blue1: #0E71B8;
  --gray3:#E5E5E5;
  --blue:#00014E;
  --black1:#0F0F0F;
  --neue__Demi-bold: "Neue-DemiBold";
  --neue__bold: "Neue-bold";
  --neue__medium: "Neue-medium";
  --neue__regular: "Neue-regular";
  --segeo__UI: "Segeo-UI";

}
